@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

body {
    background-image: linear-gradient(rgba(152, 199, 152, 0.8), rgba(152, 199, 152, 0.8)), url("../images/pitch-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-color: rgb(152, 199, 152);
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
}

ul {
    list-style: none;
    padding: 0;
}

.home-button {
    width: 100%;
    height: 25vh;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.large-icon {
    font-size: 5rem;
}

.text-center {
    text-align: center;
}

.card {
    border: 0;
    margin-top: 1.5rem;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-body {
    background-color: rgba(255, 255, 255, 0.3);
}

.form-container {
    width: 40%;
}

.header-container {
    padding: 1rem;
    border-radius: 1%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.header-container h1 {
    font-weight: 900;
}

.header-container p {
    font-size: 1.25rem;
}

.box-shadow {
    -webkit-box-shadow: 7px 9px 16px -3px rgba(0,0,0,0.27);
    -moz-box-shadow: 7px 9px 16px -3px rgba(0,0,0,0.27);
    box-shadow: 7px 9px 16px -3px rgba(0,0,0,0.27);
}

.form-background {
    background-color: rgba(152, 199, 152, 0.3);
    padding: 1rem;
    border-radius: 1%;
}

.home-background {
    border-radius: 1%;
    background-color: rgba(152, 199, 152, 0.3);
    margin-bottom: 2rem;
}

.table-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.player-image {
    width: 100%;
    height: 100%;
    background-color: red;
}

.lineup {
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
}

.formation-position {
    position: absolute;
    width: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.circle {
    border-radius: 50%;
    background-color: red;
    height: 3rem;
    width: 3rem;
    border: 2px solid black;
    align-items: center;
    line-height: 3rem;
    font-weight: 700;
}

#football_field {
    background-image: url("../images/football-field.png"); 
    background-size: 100% 100%;
    background-color: rgb(152, 199, 152);
}

.left-forward {
    left: 7%;
    top: 15%;
}

.left-centre-forward {
    left: 30%;
    top: 15%;
}

.centre-forward {
    left: 43%;
    top: 15%;
}

.right-centre-forward {
    left: 55%;
    top: 15%;
}

.right-forward {
    left: 78%;
    top: 15%;
}

.left-attacking-midfield {
    left: 7%;
    top: 28%;
}

.centre-attacking-midfield {
    left: 43%;
    top: 28%;
}

.right-attacking-midfield {
    left: 78%;
    top: 28%;
}

.left-midfield {
    left: 7%;
    top: 45%;
}

.left-centre-midfield {
    left: 30%;
    top: 45%;
}

.right-centre-midfield {
    left: 55%;
    top: 45%;
}

.right-midfield {
    left: 78%;
    top: 45%;
}

.left-wing-back {
    left: 7%;
    top: 58%;
}

.centre-defensive-midfield {
    left: 43%;
    top: 58%;
}

.right-wing-back {
    left: 78%;
    top: 58%;
}

.left-back {
    left: 7%;
    top: 70%;
}

.back-three-left {
    left: 25%;
    top: 70%;
}

.left-centre-back {
    left: 30%;
    top: 70%;
}

.centre-back {
    left: 43%;
    top: 70%;
}

.right-centre-back {
    left: 55%;
    top: 70%;
}

.back-three-right {
    left: 60%;
    top: 70%;
}
.right-back {
    left: 78%;
    top: 70%;
}

.goalkeeper {
    left: 43%;
    top: 88%;
}

th, td {
    text-align: center;
}
