body {
    background-color: rgb(152, 199, 152);
}

.lineup {
    height: 100vh;
    position: relative;
}

.formation-position {
    position: absolute;
    width: 8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.circle {
    border-radius: 50%;
    background-color: red;
    height: 3rem;
    width: 3rem;
    border: 1px solid black;
    align-items: center;
}

#football_field {
    background-image: url("../images/football-field.png"); 
    background-size: 100% 100%;
}

#eleven {
    left: 30%;  
}

#ten {
    left: 60%;
}

#nine {
    left: 20%;
    top: 25%
}

#eight {
    left: 40%;
    top: 25%
}

#seven {
    left: 60%;
    top: 25%
}

#six {
    left: 80%;
    top: 25%
}

#five {
    left: 20%;
    top: 50%
}

#four{
    left: 40%;
    top: 50%
}

#three {
    left: 60%;
    top: 50%
}

#two {
    left: 80%;
    top: 50%
}

#one {
    left: 50%;
    top: 75%
}

th, td {
    text-align: center;
}
