body {
    background-color: rgb(152, 199, 152);
}

.lineup {
    height: 100vh;
    position: relative;
}

.formation-position {
    position: absolute;
    width: 8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.circle {
    border-radius: 50%;
    background-color: red;
    height: 3rem;
    width: 3rem;
    border: 1px solid black;
    align-items: center;
}

#football_field {
    background-image: url("../images/football-field.png"); 
    background-size: 100% 100%;
}

.left-forward {
    left: 7%;
    top: 15%;
}

.left-centre-forward {
    left: 24%;
    top: 15%;
}

.centre-forward {
    left: 40%;
    top: 15%;
}

.right-centre-forward {
    left: 55%;
    top: 15%;
}

.right-forward {
    left: 75%;
    top: 15%;
}

.left-attacking-midfield {
    left: 7%;
    top: 25%;
}

.centre-attacking-midfield {
    left: 40%;
    top: 25%;
}

.right-attacking-midfield {
    left: 75%;
    top: 25%;
}

.left-midfield {
    left: 7%;
    top: 45%;
}

.left-centre-midfield {
    left: 24%;
    top: 45%;
}

.right-centre-midfield {
    left: 55%;
    top: 45%;
}

.right-midfield {
    left: 75%;
    top: 45%;
}

.left-wing-back {
    left: 7%;
    top: 60%;
}

.centre-defensive-midfield {
    left: 40%;
    top: 60%;
}

.right-wing-back {
    left: 75%;
    top: 60%;
}

.left-back {
    left: 7%;
    top: 70%;
}

.left-centre-back {
    left: 24%;
    top: 70%;
}

.centre-back {
    left: 40%;
    top: 70%;
}

.right-centre-back {
    left: 55%;
    top: 70%;
}

.right-back {
    left: 75%;
    top: 70%;
}

.goalkeeper {
    left: 40%;
    top: 88%;
}

#eleven {
    left: 30%;  
}

#ten {
    left: 60%;
}

#nine {
    left: 20%;
    top: 25%
}

#eight {
    left: 40%;
    top: 25%
}

#seven {
    left: 60%;
    top: 25%
}

#six {
    left: 80%;
    top: 25%
}

#five {
    left: 20%;
    top: 50%
}

#four{
    left: 40%;
    top: 50%
}

#three {
    left: 60%;
    top: 50%
}

#two {
    left: 80%;
    top: 50%
}

#one {
    left: 50%;
    top: 75%
}

th, td {
    text-align: center;
}
