{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>Welcome to Football Squad Manager</h1>
    <p>Description and instructions for using the site</p>
</div>
<div class="container">
    <div class="row">
    <div class="col-sm">
      <a type="button" href="{{ url_for('team_select') }}" class="btn btn-primary home-button">
        <span class="large-icon"><i class="fas fa-users"></i></span>
        <h2>Select a Team</h2>
      </a>
    </div>
    <div class="col-sm">
      <a type="button" href="{{ url_for('team_create') }}" class="btn btn-success home-button">
        <span class="large-icon"><i class="fas fa-pencil-ruler"></i></span>
        <h2>Create a Team</h2>
      </a>
    </div>
    </div>
</div>


{% endblock %}