{% extends 'base.html' %}
{% block content %}
<!-- HEADER -->
<div class="container header-container home-background">
    <h1 class="larger-heading">Welcome to Football Squad Manager</h1>
    <br>
    <p>Select an existing team or create a new team to get started:</p>
</div>
<!-- NAV BUTTONS -->
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="{{ url_for('team_select') }}" class="btn btn-primary home-button">
                <span class="large-icon"><i class="fas fa-users"></i></span>
                <h2>Select a Team</h2>
            </a>
        </div>
        <div class="col-sm">
            <a href="{{ url_for('team_create') }}" class="btn btn-success home-button">
                <span class="large-icon"><i class="fas fa-pencil-ruler"></i></span>
                <h2>Create a Team</h2>
            </a>
        </div>
    </div>
</div>
{% endblock %}