{% extends 'base.html' %}
{% block content %}
<!-- HEADER -->
<div class="container-fluid header-container">
    <div class="row">
        <div class="col-md-6">
            <h1>{{team.name}} - Line-up Creator</h1>
        </div>
        <!-- FORMATION FORM -->
        <div class="col-md-6">
            <form action="{{ url_for('update_formation', team_id=team._id)}}" method="POST">
                <div class="row justify-content-center">
                    <div class="col-md-6">  
                        <div class="form-group" id="formation-form">
                            <label for="formation">Formation</label>
                            <select class="form-control" id="formation" name="formation">
                                {% for formation in formations %}
                                    {% if team.formation == formation.name %}
                                        <option selected>{{formation.name}}</option>
                                    {% else %}
                                        <option>{{formation.name}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button id="update-formation-btn" type="submit" class="btn btn-secondary">
                            <i class="fas fa-check-circle"></i>
                            Update Formation
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- FORMATION LINEUP -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 lineup">
            <div class="row lineup" id="football_field">
                <div class="col lineup">
                    <!-- POSITION ELEVEN -->
                    <div class="formation-position {{formation.eleven}}">
                        <div class="circle text-center" style="background-color: {{team.first_colour}}; border: 2px solid {{team.second_colour}}; color: {{team.second_colour}}">
                        {% for player in players %}
                            {% if team.eleven and team.eleven == player.string_id %}
                                {{player.shirt_number}}
                            {% endif %}
                        {% endfor %}
                        </div>
                        {% for player in players %}
                            {% if team.eleven and team.eleven == player.string_id %}
                        <div>
                            {{player.last_name}}
                        </div>
                            {% endif %}
                        {% endfor %}    
                    </div>
                    <!-- POSITION TEN -->
                    <div class="formation-position {{formation.ten}}">
                        <div class="circle text-center" style="background-color: {{team.first_colour}}; border: 2px solid {{team.second_colour}}; color: {{team.second_colour}}">
                        {% for player in players %}
                            {% if team.ten and team.ten == player.string_id %}
                                {{player.shirt_number}}
                            {% endif %}
                        {% endfor %}
                        </div>
                        {% for player in players %}
                            {% if team.ten and team.ten == player.string_id %}
                        <div>
                            {{player.last_name}}
                        </div>
                            {% endif %}
                        {% endfor %}      
                    </div>
                    <!-- POSITION NINE -->
                    <div class="formation-position {{formation.nine}}">
                        <div class="circle text-center" style="background-color: {{team.first_colour}}; border: 2px solid {{team.second_colour}}; color: {{team.second_colour}}">
                        {% for player in players %}
                            {% if team.nine and team.nine == player.string_id %}
                                {{player.shirt_number}}
                            {% endif %}
                        {% endfor %}
                        </div>
                        {% for player in players %}
                            {% if team.nine and team.nine == player.string_id %}
                        <div>
                            {{player.last_name}}
                        </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- POSITION EIGHT -->
                    <div class="formation-position {{formation.eight}}">
                        <div class="circle text-center" style="background-color: {{team.first_colour}}; border: 2px solid {{team.second_colour}}; color: {{team.second_colour}}">
                        {% for player in players %}
                            {% if team.eight and team.eight == player.string_id %}
                                {{player.shirt_number}}
                            {% endif %}
                        {% endfor %}
                        </div>
                        {% for player in players %}
                            {% if team.eight and team.eight == player.string_id %}
                        <div>
                            {{player.last_name}}
                        </div>
                            {% endif %}
                        {% endfor %}   
                    </div>
                    <!-- POSITION SEVEN -->
                    <div class="formation-position {{formation.seven}}">
                        <div class="circle text-center" style="background-color: {{team.first_colour}}; border: 2px solid {{team.second_colour}}; color: {{team.second_colour}}">
                        {% for player in players %}
                            {% if team.seven and team.seven == player.string_id %}
                                {{player.shirt_number}}
                            {% endif %}
                        {% endfor %}
                        </div>
                        {% for player in players %}
                            {% if team.seven and team.seven == player.string_id %}
                        <div>
                            {{player.last_name}}
                        </div>
                            {% endif %}
                        {% endfor %} 
                    </div>
                    <!-- POSITION SIX -->
                    <div class="formation-position {{formation.six}}">
                        <div class="circle text-center" style="background-color: {{team.first_colour}}; border: 2px solid {{team.second_colour}}; color: {{team.second_colour}}">
                        {% for player in players %}
                            {% if team.six and team.six == player.string_id %}
                                {{player.shirt_number}}
                            {% endif %}
                        {% endfor %}
                        </div>
                        {% for player in players %}
                            {% if team.six and team.six == player.string_id %}
                        <div>
                            {{player.last_name}}
                        </div>
                            {% endif %}
                        {% endfor %}  
                    </div>
                    <!-- POSITION FIVE -->
                    <div class="formation-position {{formation.five}}">
                        <div class="circle text-center" style="background-color: {{team.first_colour}}; border: 2px solid {{team.second_colour}}; color: {{team.second_colour}}">
                        {% for player in players %}
                            {% if team.five and team.five == player.string_id %}
                                {{player.shirt_number}}
                            {% endif %}
                        {% endfor %}
                        </div>
                        {% for player in players %}
                            {% if team.five and team.five == player.string_id %}
                        <div>
                            {{player.last_name}}
                        </div>
                            {% endif %}
                        {% endfor %}    
                    </div>
                    <!-- POSITION FOUR -->
                    <div class="formation-position {{formation.four}}">
                        <div class="circle text-center" style="background-color: {{team.first_colour}}; border: 2px solid {{team.second_colour}}; color: {{team.second_colour}}">
                        {% for player in players %}
                            {% if team.four and team.four == player.string_id %}
                                {{player.shirt_number}}
                            {% endif %}
                        {% endfor %}
                        </div>
                        {% for player in players %}
                            {% if team.four and team.four == player.string_id %}
                        <div>
                            {{player.last_name}}
                        </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- POSITION THREE -->
                    <div class="formation-position {{formation.three}}">
                        <div class="circle text-center" style="background-color: {{team.first_colour}}; border: 2px solid {{team.second_colour}}; color: {{team.second_colour}}">
                        {% for player in players %}
                            {% if team.three and team.three == player.string_id %}
                                {{player.shirt_number}}
                            {% endif %}
                        {% endfor %}
                        </div>
                        {% for player in players %}
                            {% if team.three and team.three == player.string_id %}
                        <div>
                            {{player.last_name}}
                        </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- POSITION TWO -->
                    <div class="formation-position {{formation.two}}">
                        <div class="circle text-center" style="background-color: {{team.first_colour}}; border: 2px solid {{team.second_colour}}; color: {{team.second_colour}}">
                        {% for player in players %}
                            {% if team.two and team.two == player.string_id %}
                                {{player.shirt_number}}
                            {% endif %}
                        {% endfor %}
                        </div>
                        {% for player in players %}
                            {% if team.two and team.two == player.string_id %}
                        <div>
                            {{player.last_name}}
                        </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- POSITION ONE -->
                    <div class="formation-position {{formation.one}}">
                        <div class="circle text-center" style="background-color: {{team.first_colour}}; border: 2px solid {{team.second_colour}}; color: {{team.second_colour}}">
                        {% for player in players %}
                            {% if team.one and team.one == player.string_id %}
                                {{player.shirt_number}}
                            {% endif %}
                        {% endfor %}
                        </div>
                        {% for player in players %}
                            {% if team.one and team.one == player.string_id %}
                        <div>
                            {{player.last_name}}
                        </div>
                            {% endif %}
                        {% endfor %}
                    </div> 
                </div>
            </div>   
        </div>
        <!-- SELECTION FORM -->
        <div class="col-md-6 form-background">
            <form action="{{ url_for('submit_lineup', team_id=team._id) }}" method="POST">
                <div id="set-lineup" class="text-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-check-circle"></i>
                        Set line-up
                    </button>
                </div>
                <!-- POSITION ELEVEN -->
                <div class="form-group row formation-select">
                    <label for="eleven" class="col-sm-2 col-form-label text-center position-label">{{formation.eleven}}</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="eleven" name="eleven">
                            <option>...</option>
                            {% for player in players %}
                                {% if player.is_injured != "Yes" %}
                                    {% if team.eleven and team.eleven == player.string_id %}
                                        <option value="{{player._id}}" selected>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% else %}
                                        <option value="{{player._id}}">{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- POSITION TEN -->
                <div class="form-group row formation-select">
                    <label for="ten" class="col-sm-2 col-form-label text-center position-label">{{formation.ten}}</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="ten" name="ten">
                            <option>...</option>
                            {% for player in players %}
                                {% if player.is_injured != "Yes" %}
                                    {% if team.ten and team.ten == player.string_id %}
                                        <option value="{{player._id}}" selected>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% else %}
                                        <option value="{{player._id}}">{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- POSITION NINE -->
                <div class="form-group row formation-select">
                    <label for="nine" class="col-sm-2 col-form-label text-center position-label">{{formation.nine}}</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="nine" name="nine">
                            <option>...</option>
                            {% for player in players %}
                                {% if player.is_injured != "Yes" %}
                                    {% if team.nine and team.nine == player.string_id %}
                                        <option value="{{player._id}}" selected>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% else %}
                                        <option value="{{player._id}}">{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- POSITION EIGHT -->
                <div class="form-group row formation-select">
                    <label for="eight" class="col-sm-2 col-form-label text-center position-label">{{formation.eight}}</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="eight" name="eight">
                            <option>...</option>
                            {% for player in players %}
                                {% if player.is_injured != "Yes" %}
                                    {% if team.eight and team.eight == player.string_id %}
                                        <option value="{{player._id}}" selected>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% else %}
                                        <option value="{{player._id}}">{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- POSITION SEVEN -->
                <div class="form-group row formation-select">
                    <label for="seven" class="col-sm-2 col-form-label text-center position-label">{{formation.seven}}</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="seven" name="seven">
                            <option>...</option>
                            {% for player in players %}
                                {% if player.is_injured != "Yes" %}
                                    {% if team.seven and team.seven == player.string_id %}
                                        <option value="{{player._id}}" selected>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% else %}
                                        <option value="{{player._id}}">{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- POSITION SIX -->
                <div class="form-group row formation-select">
                    <label for="six" class="col-sm-2 col-form-label text-center position-label">{{formation.six}}</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="six" name="six">
                            <option>...</option>
                            {% for player in players %}
                                {% if player.is_injured != "Yes" %}
                                    {% if team.six and team.six == player.string_id %}
                                        <option value="{{player._id}}" selected>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% else %}
                                        <option value="{{player._id}}">{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- POSITION FIVE -->
                <div class="form-group row formation-select">
                    <label for="five" class="col-sm-2 col-form-label text-center position-label">{{formation.five}}</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="five" name="five">
                            <option>...</option>
                            {% for player in players %}
                                {% if player.is_injured != "Yes" %}
                                    {% if team.five and team.five == player.string_id %}
                                        <option value="{{player._id}}" selected>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% else %}
                                        <option value="{{player._id}}">{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- POSITION FOUR -->
                <div class="form-group row formation-select">
                    <label for="four" class="col-sm-2 col-form-label text-center position-label">{{formation.four}}</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="four" name="four">
                            <option>...</option>
                            {% for player in players %}
                                {% if player.is_injured != "Yes" %}
                                    {% if team.four and team.four == player.string_id %}
                                        <option value="{{player._id}}" selected>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% else %}
                                        <option value="{{player._id}}">{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- POSITION THREE -->
                <div class="form-group row formation-select">
                    <label for="three" class="col-sm-2 col-form-label text-center position-label">{{formation.three}}</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="three" name="three">
                            <option>...</option>
                            {% for player in players %}
                                {% if player.is_injured != "Yes" %}
                                    {% if team.three and team.three == player.string_id %}
                                        <option value="{{player._id}}" selected>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% else %}
                                        <option value="{{player._id}}">{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- POSITION TWO -->
                <div class="form-group row formation-select">
                    <label for="two" class="col-sm-2 col-form-label text-center position-label">{{formation.two}}</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="two" name="two">
                            <option>...</option>
                            {% for player in players %}
                                {% if player.is_injured != "Yes" %}
                                    {% if team.two and team.two == player.string_id %}
                                        <option value="{{player._id}}" selected>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% else %}
                                        <option value="{{player._id}}">{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- POSITION ONE -->
                <div class="form-group row formation-select">
                    <label for="one" class="col-sm-2 col-form-label text-center position-label">{{formation.one}}</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="one" name="one">
                            <option>...</option>
                            {% for player in players %}
                                {% if player.is_injured != "Yes" %}
                                    {% if team.one and team.one == player.string_id %}
                                        <option value="{{player._id}}" selected>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% else %}
                                        <option value="{{player._id}}">{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div> 
    </div>
</div>
<!-- PLAYER TABLE -->
<div class="container-fluid table-container">
    <table class="table table-striped table-light table-borderless table-sm" data-toggle="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col" data-sortable="true">#</th>
                <th scope="col" data-sortable="true">Position</th>
                <th scope="col" data-sortable="true">Alt Position</th>
                <th scope="col" data-sortable="true">Name</th>
                <th scope="col" data-sortable="true">Att</th>
                <th scope="col" data-sortable="true">Tech</th>
                <th scope="col" data-sortable="true">Phys</th>
                <th scope="col" data-sortable="true">Def</th>
                <th scope="col" data-sortable="true">Stam</th>
                <th scope="col" data-sortable="true">Spd</th>
                <th scope="col" data-sortable="true">Foot</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            {% if player.is_injured != "Yes" %}
            <tr>
                <td>
                    <a href="{{ url_for('player_details', player_id=player._id, team_id=team._id) }}" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                        View Player
                    </a>
                </td>
                <td>{{player.shirt_number}}</td>
                <td>{{player.first_position}}</td>
                <td>{{player.second_position}}</td>
                <td>{{player.last_name}}</td>
                <td>{{player.attacking}}</td>
                <td>{{player.technique}}</td>
                <td>{{player.physical}}</td>
                <td>{{player.defending}}</td>
                <td>{{player.stamina}}</td>
                <td>{{player.speed}}</td>
                <td>{{player.foot}}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- SCRIPT FOR POSITIONS.JS -->
<script defer src="{{ url_for('static', filename='js/positions.js') }}"></script>
{% endblock %}