{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>{{team.name}} - Line-Up Creator</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h5>Formation side</h5>
                <div class="row lineup">
                    <div class="col lineup">
                        <div id="eleven" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    {% for player in players %}
                                        <option>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="ten" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    {% for player in players %}
                                        <option>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="nine" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    {% for player in players %}
                                        <option>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="eight" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    {% for player in players %}
                                        <option>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="seven" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    {% for player in players %}
                                        <option>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="six" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    {% for player in players %}
                                        <option>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="five" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    {% for player in players %}
                                        <option>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="four" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    {% for player in players %}
                                        <option>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="three" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    {% for player in players %}
                                        <option>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="two" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    {% for player in players %}
                                        <option>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="one" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    {% for player in players %}
                                        <option>{{player.shirt_number}}. {{player.last_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h5>Selection side</h5>
            <div class="container-fluid">
                <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">#</th>
                        <th scope="col">Position</th>
                        <th scope="col">Alt Position</th>
                        <th scope="col">Name</th>
                        <th scope="col">Att</th>
                        <th scope="col">Tech</th>
                        <th scope="col">Phys</th>
                        <th scope="col">Def</th>
                        <th scope="col">Stam</th>
                        <th scope="col">Spd</th>
                        <th scope="col">Foot</th>
                    </tr>
                </thead>
                <tbody>
                {% for player in players %}
                    {% if player.is_injured != "Yes" %}
                    <tr>
                        <td><a href="{{ url_for('player_details', player_id=player._id, team_id=team._id) }}" class="btn btn-primary">View Player</a></td>
                        <td>{{player.shirt_number}}</td>
                        <td>{{player.first_position}}</td>
                        <td>{{player.second_position}}</td>
                        <td>{{player.last_name}}</td>
                        <td>{{player.attacking}}</td>
                        <td>{{player.technique}}</td>
                        <td>{{player.physical}}</td>
                        <td>{{player.defending}}</td>
                        <td>{{player.stamina}}</td>
                        <td>{{player.speed}}</td>
                        <td>{{player.foot}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div> 
    </div>
{% endblock %}