{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Line-Up Creator</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h5>Formation side</h5>
                <div class="row lineup">
                    <div class="col lineup">
                        <div id="eleven" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    <option selected>Richards</option>
                                    <option>Messi</option>
                                </select>
                            </div>
                        </div>
                        <div id="ten" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    <option selected>Richards</option>
                                    <option>Messi</option>
                                </select>
                            </div>
                        </div>
                        <div id="nine" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    <option selected>Richards</option>
                                    <option>Messi</option>
                                </select>
                            </div>
                        </div>
                        <div id="eight" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    <option selected>Richards</option>
                                    <option>Messi</option>
                                </select>
                            </div>
                        </div>
                        <div id="seven" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    <option selected>Richards</option>
                                    <option>Messi</option>
                                </select>
                            </div>
                        </div>
                        <div id="six" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    <option selected>Richards</option>
                                    <option>Messi</option>
                                </select>
                            </div>
                        </div>
                        <div id="five" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    <option selected>Richards</option>
                                    <option>Messi</option>
                                </select>
                            </div>
                        </div>
                        <div id="four" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    <option selected>Richards</option>
                                    <option>Messi</option>
                                </select>
                            </div>
                        </div>
                        <div id="three" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    <option selected>Richards</option>
                                    <option>Messi</option>
                                </select>
                            </div>
                        </div>
                        <div id="two" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    <option selected>Richards</option>
                                    <option>Messi</option>
                                </select>
                            </div>
                        </div>
                        <div id="one" class="formation-position">
                            <div class="circle"></div>
                            <div class="formation-select">
                                <select class="form-control" name="test">
                                    <option selected>Richards</option>
                                    <option>Messi</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h5>Selection side</h5>
            </div>
        </div> 
    </div>
{% endblock %}