{% extends 'base.html' %}
{% block content %}
    <h1>Player Details</h1>
    {{player.shirt_number}}
    {{player.first_position}}
    {{player.second_position}}
    {{player.first_name}}
    {{player.last_name}}
    {{player.nation}}
    {{player.attacking}}
    {{player.technique}}
    {{player.physical}}
    {{player.defending}}
    {{player.stamina}}
    {{player.speed}}
    {{player.foot}}
    {{player.height}}
    {{player.weight}}
    {{player.notes}}
    {{player.is_injured}}
    <a type="button" href="{{ url_for('player_list', team_id=team._id) }}" class="btn btn-danger">Back</a>
    <a type="button" href="{{ url_for('player_edit', player_id=player._id, team_id=team._id) }}" class="btn btn-primary">Edit Player</a>
{% endblock %}