{% extends 'base.html' %}

{% block content %}
   
<div class="container header-container">
    <h1>{% if player.shirt_number %}
            {{player.shirt_number}}.
        {% endif %}
        {{player.first_name}} {{player.last_name}} - Player Profile</h1>
</div>
<div class="container form-container">
    <div class="form-background box-shadow">
        <div class="row">
            <div class="col-md-6">
                <div class="player-image">
                    <img src="{{player.image}}" alt="Player Image" class="card-img-top">
                </div>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>Team: 
                        <a href="{{ url_for('team_home', team_id=team._id) }}" class="unstyled-link">
                            <span class="larger-font">{{team.name}}</span>
                            <img src="{{team.emblem}}" alt="" class="img-thumbnail small-thumb">
                        </a>
                    </li>
                    <li>Nation:
                        <span class="larger-font">{{player.nation}}</span>
                    </li>
                    <li>Age:
                        <span class="larger-font">{{player.age}}</span>
                    </li>
                    <li>Height:
                        {% if player.height %}
                        <span class="larger-font">{{player.height}}cm</span>
                        {% endif %}
                    </li>
                    <li>Weight:
                        {% if player.weight %}
                        <span class="larger-font">{{player.weight}}kg</span>
                        {% endif %}
                    </li>
                    <li>Best Position:
                        <span class="larger-font">{{player.first_position}}</span>
                    </li>
                    <li>Alt Position:
                        <span class="larger-font">{{player.second_position}}</span>
                    </li>
                    <li>Preferred foot:
                        <span class="larger-font">{{player.foot}}</span>
                    </li>
                    <li>Injured: 
                    {% if player.is_injured == "Yes" %}
                        <span class="larger-font">Yes</span>
                    {% else %}
                        <span class="larger-font">No</span>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div>
                    <div class="attr-header text-center">Attacking</div>
                    <div class="larger-font text-center">{{player.attacking}}</div>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <div class="attr-header text-center">Technique</div>
                    <div class="larger-font text-center">{{player.technique}}</div>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <div class="attr-header text-center">Physical</div>
                    <div class="larger-font text-center">{{player.physical}}</div>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <div class="attr-header text-center">Defending</div>
                    <div class="larger-font text-center">{{player.defending}}</div>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <div class="attr-header text-center">Stamina</div>
                    <div class="larger-font text-center">{{player.stamina}}</div>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <div class="attr-header text-center">Speed</div>
                    <div class="larger-font text-center">{{player.speed}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="attr-header">Notes:</div>
                    <div>{{player.notes}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
    <a type="button" href="{{ url_for('player_list', team_id=team._id) }}" class="btn btn-danger">Back</a>
    <a type="button" href="{{ url_for('player_edit', player_id=player._id, team_id=team._id) }}" class="btn btn-primary">Edit Player</a>
    <a type="button" href="{{ url_for('delete_player', player_id=player._id) }}" class="btn btn-danger">Delete Player</a>
{% endblock %}