{% extends 'base.html' %} {% block content %}

<div class="container">
    <h1>Create Player</h1>
</div>
<div class="container">
  <form action="{{ url_for('submit_player', team_id=team._id) }}" method="POST">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name">
      </div>
      <div class="form-group col-md-4">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name">
      </div>
      <div class="form-group col-md-4">
        <label for="team_name">Team</label>
        <input type="text" class="form-control" id="team_name" name="team_name" value="{{team.name}}" disabled>
        <input type="hidden" class="form-control" id="team_id" name="team_id" value="{{team._id}}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" name="age">
      </div>
      <div class="form-group col-md-3">
        <label for="height">Height</label>
        <input type="text" class="form-control" id="height" name="height">
      </div>
      <div class="form-group col-md-3">
        <label for="weight">Weight</label>
        <input type="text" class="form-control" id="weight" name="weight">
      </div>
      <div class="form-group col-md-4">
        <label for="player_nation">Nation</label>
        <input type="text" class="form-control" id="player_nation" name="nation">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="first_position">Best Position</label>
        <select class="form-control" id="first_position" name="first_position">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="second_position">Second Position</label>
        <select class="form-control" id="second_position" name="second_position">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="foot">Preferred Foot</label>
        <select class="form-control" id="foot" name="foot">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="shirt_number">Shirt Number</label>
        <select class="form-control" id="shirt_number" name="shirt_number">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="attacking">Attacking</label>
        <select class="form-control" id="attacking" name="attacking">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="technique">Technique</label>
        <select class="form-control" id="technique" name="technique">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="physical">Physical</label>
        <select class="form-control" id="physical" name="physical">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="defending">Defending</label>
        <select class="form-control" id="defending" name="defending">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="stamina">Stamina</label>
        <select class="form-control" id="stamina" name="stamina">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="speed">Speed</label>
        <select class="form-control" id="speed" name="speed">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="notes">Notes</label>
        <textarea class="form-control" id="notes" rows="3" name="notes"></textarea>
      </div>
      <div class="form-group col-md-4">
        <label for="player_image">Player Image</label>
        <input type="file" class="form-control-file" id="player_image" name="image">
      </div>
      <div class="form-group col-md-4">
        <label for="injured">Injured</label>
        <select class="form-control" id="injured" name="is_injured">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
    </div>
    <a type="button" href="{{ url_for('player_list', team_id=team._id) }}" class="btn btn-danger">Cancel</a>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
