{% extends 'base.html' %}

{% block home_nav %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('team_home', team_id=team._id) }}">{{team.name}}</a>
            </li>
{% endblock %}

{% block player_nav %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Players</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('player_list', team_id=team._id) }}">Player List</a>
                    <a class="dropdown-item" href="{{ url_for('player_create', team_id=team._id) }}">Create Player</a>
                </div>
            </li>
{% endblock %}

{% block lineup_nav %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('lineup', team_id=team._id) }}">Line-Up Creator</a>
            </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>{{team.name}} - Players</h1>
                <p>Instructions, buttons etc</p>
            </div>
            <div class="col-md-2">
                <a href="{{ url_for('player_create', team_id=team._id) }}">Create a Player</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th scope="col"></th>
                <th scope="col">Number</th>
                <th scope="col">Position</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Nation</th>
                <th scope="col">Attacking</th>
                <th scope="col">Technique</th>
                <th scope="col">Physical</th>
                <th scope="col">Defending</th>
                <th scope="col">Stamina</th>
                <th scope="col">Speed</th>
                <th scope="col">Foot</th>
                <th scope="col">Height</th>
                <th scope="col">Weight</th>
                <th scope="col">Injured</th>
            </tr>
            </thead>
                <tbody>
                {% for player in players %}
                    <tr>
                        <td><a href="{{ url_for('player_details', player_id=player._id, team_id=team._id) }}" class="btn btn-primary">View Player</a></td>
                        <td>{{player.shirt_number}}</td>
                        <td>{{player.first_position}}</td>
                        <td>{{player.first_name}}</td>
                        <td>{{player.last_name}}</td>
                        <td>{{player.nation}}</td>
                        <td>{{player.attacking}}</td>
                        <td>{{player.technique}}</td>
                        <td>{{player.physical}}</td>
                        <td>{{player.defending}}</td>
                        <td>{{player.stamina}}</td>
                        <td>{{player.speed}}</td>
                        <td>{{player.foot}}</td>
                        <td>{{player.height}}</td>
                        <td>{{player.weight}}</td>
                        <td>
                        {% if player.is_injured == "Yes" %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    </div>
        
{% endblock %}