{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Edit Player</h1>
</div>
<div class="container">
  <form action="{{ url_for('update_player', player_id=player._id, team_id=team._id) }}" method="POST">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" value="{{player.first_name}}">
      </div>
      <div class="form-group col-md-4">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" value="{{player.last_name}}">
      </div>
      <div class="form-group col-md-4">
        <label for="team_id">Team</label>
        <select class="form-control" id="team_id" name="team_id">
                    {% for team in teams %}
                        {% if team._id == team_id %}
                            <option value="{{team._id}}" selected>{{team.name}}</option>
                        {% else %}
                            <option value="{{team._id}}">{{team.name}}</option>
                        {% endif %}
                    {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="age">Age</label>
        <input type="number" min="0" class="form-control" id="age" name="age" value="{{player.age}}">
      </div>
      <div class="form-group col-md-3">
        <label for="height">Height (cm)</label>
        <input type="number" min="1" class="form-control" id="height" name="height" value="{{player.height}}">
      </div>
      <div class="form-group col-md-3">
        <label for="weight">Weight (kg)</label>
        <input type="number" min="1" class="form-control" id="weight" name="weight" value="{{player.weight}}">
      </div>
      <div class="form-group col-md-4">
        <label for="player_nation">Nation</label>
        <select class="form-control" id="player_nation" name="nation">
            {% for nation in nations %}
            {% if player.nation == nation.name %}
                <option selected>{{nation.name}}</option>
            {% else %}
                <option>{{nation.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="first_position">Best Position</label>
        <select class="form-control" id="first_position" name="first_position">
            {% for position in positions %}
            {% if player.first_position == position.name %}
                <option selected>{{position.name}}</option>
            {% else %}
                <option>{{position.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="second_position">Second Position</label>
        <select class="form-control" id="second_position" name="second_position">
            {% for position in positions %}
            {% if player.second_position == position.name %}
                <option selected>{{position.name}}</option>
            {% else %}
                <option>{{position.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="foot">Preferred Foot</label>
        <select class="form-control" id="foot" name="foot">
            {% if player.foot == "Right" %}
                <option>...</option>
                <option selected>Right</option>
                <option>Left</option>
                <option>Either</option>
            {% elif player.foot == "Left" %}
                <option>...</option>
                <option>Right</option>
                <option selected>Left</option>
                <option>Either</option>
            {% elif player.foot == "Either" %}
                <option>...</option>
                <option>Right</option>
                <option>Left</option>
                <option selected>Either</option>
            {% else %}
                <option selected>...</option>
                <option>Right</option>
                <option>Left</option>
                <option>Either</option>
            {% endif %}
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="shirt_number">Shirt Number</label>
        <input type="number" min="1" max="99" class="form-control" id="shirt_number" name="shirt_number" value="{{player.shirt_number}}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="attacking">Attacking</label>
        <input type="number" min="1" max="20" class="form-control" id="attacking" name="attacking" value="{{player.attacking}}">
      </div>
      <div class="form-group col-md-2">
        <label for="technique">Technique</label>
        <input type="number" min="1" max="20" class="form-control" id="technique" name="technique" value="{{player.technique}}">
      </div>
      <div class="form-group col-md-2">
        <label for="physical">Physical</label>
        <input type="number" min="1" max="20" class="form-control" id="physical" name="physical" value="{{player.physical}}">
      </div>
      <div class="form-group col-md-2">
        <label for="defending">Defending</label>
        <input type="number" min="1" max="20" class="form-control" id="defending" name="defending" value="{{player.defending}}">
      </div>
      <div class="form-group col-md-2">
        <label for="stamina">Stamina</label>
        <input type="number" min="1" max="20" class="form-control" id="stamina" name="stamina" value="{{player.stamina}}">
      </div>
      <div class="form-group col-md-2">
        <label for="speed">Speed</label>
        <input type="number" min="1" max="20" class="form-control" id="speed" name="speed" value="{{player.speed}}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="notes">Notes</label>
        <textarea class="form-control" id="notes" rows="3" name="notes">{{player.notes}}</textarea>
      </div>
      <div class="form-group col-md-4">
        <label for="player_image">Player Image URL</label>
        <input type="text" class="form-control" id="player_image" name="image" value="{{player.image}">
      </div>
      <div class="form-group col-md-4">
        <div class="form-check">
        {% if player.is_injured == "Yes" %}
            <input type="checkbox" class="form-check-input" id="injured" name="is_injured" value="Yes" checked>
        {% else %}
            <input type="checkbox" class="form-check-input" id="injured" name="is_injured" value="Yes">
        {% endif %}
            <label class="form-check-label" for="injured">Injured</label>
        </div>
      </div>
    </div>
    <a type="button" href="{{ url_for('player_details', player_id=player._id, team_id=team._id) }}" class="btn btn-danger">Cancel</a>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
