{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>Select Team</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h4>Instructions for team selection page</h4>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('team_create') }}">Create a Team</a>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
{% for team in teams %}
    <div class="col-md-3">
    <div class="card" style="width: 18rem; background-color: {{team.first_colour}}">
      <img src="{{team.emblem}}" class="card-img-top" alt="Team Emblem" />
      <div class="card-body">
        <h5 class="card-title">{{team.name}}</h5>
        <p class="card-text">
          <ul>
                <li>Nation: {{team.nation}}</li>
                <li>Established: {{team.year}}</li>
                <li>Manager: {{team.manager}}</li>
                <li>Formation: {{team.formation}}</li>
          </ul>
        </p>
        <a href="{{ url_for('team_home', team_id=team._id) }}" class="btn btn-primary">Select Team</a>
      </div>
      </div>
    </div>
    
{% endfor %}
    </div>
</div>

{% endblock %}
