{% extends 'base.html' %}

{% block home_nav %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('team_home', team_id=team._id) }}">{{team.name}}</a>
            </li>
{% endblock %}

{% block player_nav %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Players</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('player_list', team_id=team._id) }}">Player List</a>
                    <a class="dropdown-item" href="{{ url_for('player_create', team_id=team._id) }}">Create Player</a>
                </div>
            </li>
{% endblock %}

{% block lineup_nav %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('lineup', team_id=team._id) }}">Line-Up Creator</a>
            </li>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Edit Team</h1>
</div>
<div class="container">
    <form action="{{url_for('update_team', team_id=team._id) }}" method="POST">
            <div class="form-group">
                <label for="team_name">Team Name</label>
                <input type="text" class="form-control" id="team_name" name="name" value="{{team.name}}">
            </div>
            <div class="form-group">
                <label for="year">Year Established</label>
                <input type="number" min="0" max="9999" class="form-control" id="year" name="year" value="{{team.year}}">
            </div>
            <div class="form-group">
                <label for="nation">Nation</label>
                <select class="form-control" id="nation" name="nation">
                    <option selected>...</option>
                    {% for nation in nations %}
                        {% if team.nation == nation.name %}
                        <option selected>{{nation.name}}</option>
                        {% else %}
                        <option>{{nation.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="manager">Manager Name</label>
                <input type="text" class="form-control" id="manager" name="manager" value="{{team.manager}}">
            </div>
            <div class="form-group">
                <label for="formation">Formation</label>
                <select class="form-control" id="formation" name="formation">
                    {% for formation in formations %}
                        {% if team.formation == formation.name %}
                        <option selected>{{formation.name}}</option>
                        {% else %}
                        <option>{{formation.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="emblem">Team Emblem</label>
                <input type="file" class="form-control-file" id="emblem" name="emblem" value="{{team.emblem}}">
            </div>
            <div class="form-group">
                <label for="emblem">First Colour</label>
                <input type="color" class="form-control-file" id="first_colour" name="first_colour" value="{{team.first_colour}}">
            </div>
            <div class="form-group">
                <label for="emblem">Second Colour</label>
                <input type="color" class="form-control-file" id="second_colour" name="second_colour" value="{{team.second_colour}}">
            </div>
            <a type="button" href="{{ url_for('team_select') }}" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a type="button" href="{{ url_for('delete_team', team_id=team._id) }}" class="btn btn-danger">Delete Team</a>
    </form>
</div>

{% endblock %}