{% extends 'base.html' %}
{% block content %}
<!-- HEADER -->
<div class="container header-container">
    <h1>Select an Existing Team</h1>
    <p>Or create a new team using the button below:</p>
    <a href="{{ url_for('team_create') }}" class="btn btn-success">
        <i class="fas fa-pencil-ruler"></i>
        Create a Team
    </a>
</div>
<!-- TEAM CARDS -->
<div class="container home-background">
    <div class="row">
    {% for team in teams %}
        <div class="col-md-3 text-center">
            <div class="card" style="background-image: linear-gradient(to right, {{team.first_colour}} 50%, {{team.second_colour}} 100%)">
                <img src="{{team.emblem}}" class="card-img-top" alt="Team Emblem" />
                <div class="card-body">
                    <h4 class="card-title">{{team.name}}</h4>
                    <ul>
                        <li>Nation: {{team.nation}}</li>
                        <li>Established: {{team.year}}</li>
                        <li>Manager: {{team.manager}}</li>
                        <li>Formation: {{team.formation}}</li>
                    </ul>
                    <a href="{{ url_for('team_home', team_id=team._id) }}" class="btn btn-primary">
                        <i class="fas fa-hand-pointer"></i>
                        Select Team
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
